.grid-item:hover {
  cursor: pointer;
}

.title {
  border-radius: 4px;
  padding: 3px;
  display: inline;
  position: relative;
  left: -7px;
  bottom: 110px;
  background-color: black;
}

.item1 {
  background: url(../images/finance.png) no-repeat center;
  background-size: cover;
}

.item2 {
  background: url(../images/meta.jpg) no-repeat center;
  background-size: cover;
}

.item3 {
  background: url(../images/learn.png) no-repeat center;
  background-size: cover;
}

.item4 {
  background: url(../images/sport.png) no-repeat center;
  background-size: cover;
}

.item5 {
  background: url(../images/shop.png) no-repeat center;
  background-size: cover;
}

.item6 {
  background: url(../images/music.png) no-repeat center;
  background-size: cover;
}

.item7 {
  background: url(../images/tecno.png) no-repeat center;
  background-size: cover;
}

.item8 {
  background: url(../images/clothes.png) no-repeat center;
  background-size: cover;
}

.item9 {
  background: url(../images/food.JPG) no-repeat center;
  background-size: cover;
}
