.filter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0 ;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
  border-radius: 8px;
  display: flex;
  justify-content:baseline;
  align-items: center;
  color: #fff;
}

.filter>p{
  justify-content: center;
  text-align: center;
  background-color: black;
}

/* .filter:hover {
  opacity: 0;
  cursor: pointer;
}

.meta {
  background-color: #0022ba;
}

.finance {
  background-color: #9e1b1b;
}

.music {
  background-color: #2e8f11;
}

.shop {
  background-color: #008cba;
}

.sport {
  color: #000;
  background-color: #ebcb1b;
}

.clothes {
  background-color: #611508;
}

.medical {
  background-color: #400094;
}

.learn {
  background-color: #b32bac;
}

.food {
  background-color: #c55230;
} */
