.filter {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.4s;
}

.filter:hover {
  opacity: 0;
}

.filter1 {
  background: linear-gradient(to bottom, #ffae0099, #6b300099);
}

.filter2 {
  background: linear-gradient(to bottom, #003cff99, #00196b99);
}

.filter3 {
  background: linear-gradient(to bottom, #ffe60099, #6b5b0099);
}

.filter4 {
  background: linear-gradient(to bottom, #48ff0099, #096b0099);
}

.filter5 {
  background: linear-gradient(to bottom, #008cff99, #17006b99);
}

.filter6 {
  background: linear-gradient(to bottom, #ffa60099, #6b390099);
}

.filter7 {
  background: linear-gradient(to bottom, #b700ff99, #00196b99);
}

.filter8 {
  background: linear-gradient(to bottom, #ffe60099, #6b000099);
}

.filter9 {
  background: linear-gradient(to bottom, #ff880099, #646b0099);
}
