@media screen and (max-width: 992px) {
  .align {
    right: 0;
  }
  /* .medical-w{
    max-width: 100px;
  } */

}
@media screen and (max-width: 767px) {
  img {
    max-height: 93px;
  }
}

@media screen and (max-width: 576px) {
  .holder {
    flex-direction: column;
  }
  img{
    max-height: unset;
  }
}

@media screen and (min-width: 992px) {

  img{
    max-height: 156px;
  }
}

@media screen and (min-width: 1200px) {


  .w-190 > img {
    width: 90vh;
  }

  .medical {
    width: 90vh !important;
  }
  .meta {
    width: 100% !important;
  }

  .meta-w{
    max-width: 189vh !important;
  }

  .medical-w>img{
    max-width: 92%;
  }
}
